{% extends 'base.html' %}
{% block content %}




<div class="welcome">

   <h1><strong>Welcome</strong> to our website !</h1>
        <p>Делитесь рецептами! Читайте рецепты других людей! Радуйтесь жизни!</p>
</div>
<div class="question">
    {% for product in products %}


    <div class="answer">
        <a href="{% url 'product_detail' product.pk %}" style="display:inline-block">
            Детали рецепта
        </a>
        <h4>{{ product.category }}</h4>
    <h3>{{ product.ingrediens|truncatewords:3  }}</h3>
        <h3>{{ product.name }}</h3>
        <div><img src="media/{{ product.image }} "  height="200px" ></div>
        <p class="link-read-post"><a href="{{ product.get_absolute_url }}">Редактировать</a></p>
        <p class="link-read-post"><a href="{% url 'deleteView' product.pk %}">Delete</a></p>
    </div>

{% endfor %}
</div>




{% endblock %}

