{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/myapp2/css/styleR.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
      
        <div class="name">
            <h1> Serhii</h1>
            <h1> Novikov</h1>
            <hr style="border: 1px solid red;">
        </div>
            
        <div class="main-heder">
            <div class="envelop">
                <div class="item">
                    <img src="envelope.png" width="30px" alt="E-mail">
                </div>
                <p class="item">wasp8800@gmail.com</p>
            </div>

            <div class="envelop">
                <div class="item">
                    <img src="phone.png" width="30px" alt="phone">
                </div>
                <p class="item">+32 478 19 96 27</p>
            </div>

            
            <div class="envelop">
                <div class="item">
                    <img src="placeholder.png" width="30px" alt="geo">
                </div>
                <p class="item">Ittre, 1460</p>
            </div>

        </div>
            

      </header>

      <header_left>
    </div>
    <ul>
      <h1>CV professionnel:</h1>
      <p> Principales compétences sont la gestion d'entreprise, la vente, la promotion des produits sur le marché.
          Peu d'expérience en programmation, le développement web principalement : backend, frontend.
          Esprit sociable, analytique, apprentissage rapide de nouvelles choses, capacité à travailler en équipe. </p>
        
      </ul> 
  
      </header_left>
      
      <section>
        <h1> Compétences: </h1>
        <ul>
            <li>Gestion organisationnelle</li>
            <li>Python développeur web</li>
            <li>framework Django, Flask</li>
            <h3>Concepts généraux: </h3>
            <li>JS, PHP, Java, HTML, CSS, </li>
            <li>Réseaux informatiques basés sur l'émulateur "Cisco Packet Tracer"</li>
            <h4>Les bases: </h4>
            <li> linux </li>
          </ul> 
          <h1>Éducation:</h1>

          <ul>
            <li><a href="https://khai.edu/ua/">L'Université nationale aérospatiale, faculté d'électronique, Ukraine - 05/2001</a></li>
            <li><a href="https://khai.edu/ua/">https://khai.edu/ua/</a></li>
            <li>
              L'Université Nationale Technique , gestion et audit, Ukraine - 08/2009
            </li>
            <li> <a href="https://web.kpi.kharkov.ua/french/">https://web.kpi.kharkov.ua/french/</a></li>
            <li> IT STEP Academy, Ukraine - 06/2020,Python développeur web, </li>
            <li><a href="https://itstep.kh.ua/ru">https://itstep.kh.ua/ru</a></li>
            
          </ul> 
      </section>
      
      <aside>
        <h1> Antécédents de travail:</h1>
        <h3> Directeur. Production et vente de produits pour confiseurs. 09/2015 - 02/2022</h3>
        <ul>
          <li> Organisation et contrôle de la production.</li>
          <li> Gestion du personnel des comptables, des gestionnaires, des ouvriers, des chauffeurs, des ouvriers en général.</li>
          <li> Conclusion d'accords avec les contreparties. </li>
          <li>Développement et contrôle des flux financiers.</li>
          <li>Organisation et financement des fournitures d'équipements neufs et de pièces détachées pour équipements de production en provenance de Chine.</li>
        </ul>
        <h3> Responsable commercial dans quatre entreprises différentes de 2004 à 2015.</h3>
        <ul>
          <li>Promotion de produits, connexion de nouveaux clients, travail efficace avec les anciens clients.</li>
          
        </ul>
        <h3> Travailleur technique avec éléments de programmation. 2002 - 2004.</h3>
        <ul>
          <li>Soutenir le fonctionnement d'un réseau informatique au bureau, installer de programmes des ordinateurs, soutenir et mettre à jour des programmes pour les comptables.</li>
          
        </ul>

        <h3> Le complément:</h3>
        <ul>
          <li>joué au basket-ball au lycée. Meneur de jeu et défenseur</li>
          <li>A l'université j'ai étudié le judo et la boxe</li>

        </ul>
      </aside>
      
      <footer>
        <h4>auteur: Serhii Novikov </h4>
          <h4>e-mail: wasp8800@gmail.com</h4>
 
      </footer>
</body>
</html>